# 유니티 불필요한 파일 제외
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]ackages/
UserSettings/
.vscode/

# 유니티 자동 생성 파일 무시
/MemoryCaptures/

# 메타 파일 무시 (이전 설정에서 빠졌던 부분)
*.meta

# 유니티 라이선스 파일 무시
[Uu]serSettings/